    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'));
        M.FormSelect.init(document.querySelector('#status'));

        ClassicEditor
            .create( document.querySelector( '#body' ), {
                toolbar: [
                        'undo', 'redo',
                        '|', 'heading',
                        '|', 'bold', 'italic', 'blockQuote',
                        '|', 'insertImage', 'link',
                        '|', 'numberedList'

                        // 'mediaEmbed'
                    ]
            })
            .catch( error => {
                console.error( error );
            } );
    </script>
    </body>
</html>